#calendar {
    width: 266px;
    display: flex;
    border: 1px solid black;
    background-color:#ccc;
}
.header{
    height: 30px;
    display: flex;
    justify-content: space-around;
}
.weekdays{
    margin-top: 5px;
    width: 270px;
}
.green{
    background-color: rgb(78, 150, 44);
}
.weekdays > span {
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}
.days > span {
    border: 1px solid black;
    padding: 5px;
    width: 26px;
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
form{
    background-color: lightgreen;
    padding: 15px;
}