.container{
    width: 200px;
    height: 200px;
    margin-top: 150px;
}
.formDiv{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid black;
}
#tableChange{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.formDiv > button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin: 10px 35%;
    font-size: 16px;
    text-align: center;
    background-color: rgb(173, 173, 173);
}
.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-box > input{
    width: 250px;
    height: 40px;
    padding-left: 15px;
    border: none;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
}