.container{
    width: 800px;
    height: 200px;
    padding: 20px;
    background-color: blue;
}
.container2{
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
}
.clock{
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    background-color: black;
    color: #fff;
}