.container{
    width: 800px;
    height: 900px;
    border: 1px solid black;
    text-align: center;
}
textarea{
    margin-top: 50px;
}
.value{
    width: 600px;
    margin: 0 auto;
    min-height: 20px;
    border: 1px solid black;
}